<!-- File: about.html -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 9/11/2025 -->
<!-- Description: the view to display information about Steve Jobs -->

{% extends 'base.html' %}
{% block content %}
<main>
    <div>
    <p id="about">
    Welcome to the Quote of the Day application.<br>
    </p>
    <p id="about">
    In here you can find quotes by and images of Steve Jobs.
    </p>
    <p id="about">
    <a href="https://en.wikipedia.org/wiki/Steve_Jobs">Steve Jobs</a> 
    (1955-2011) was an American entrepreneur, inventor, and co-founder of 
    <a href="https://en.wikipedia.org/wiki/Apple_Inc.">Apple Inc</a>. 
    He played a key role in shaping the personal computer era and later transformed music, 
    mobile phones, and digital media through products like the iPod, iPhone, and iPad. 
    Jobs was celebrated for his insistence on elegant design, user-friendly technology, 
    and his captivating presentation style. His legacy continues to influence innovation, design, and entrepreneurship worldwide.
    </p>
    </div>
</main>
{% endblock %}
