<!-- voter_analytics/base.html -->
<!-- base template for voter_analytics websites -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 10/30/2025 -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'voter_analytics_styles.css' %}" type="text/css">
    <title>Voter Analytics | Base</title>
</head>
<body>
    <div id="page_wrapper">
        <header>
        Voter Analytics
        </header>
        <nav>
            <a href="{% url 'voters' %}">Show all records</a>
            <a href="{% url 'graphs' %}">Show summary results</a>
        </nav>

        {% block content %}
        {% endblock %}
        <footer>
        </footer>
    </div>
</body>
</html>