<!-- voter_analytics/graphs.html -->
<!-- showing summary graphs for voter_analytics -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 10/30/2025 -->
{% extends 'voter_analytics/base.html' %}
 
{% block content %}
<div class="container">
    <h1>Showing summary data</h1>
    <form method="get" action="{% url 'graphs' %}">
        <table>
            {{ search.as_table }}
        </table>
        <div class="submit">
            <input type="submit" value="Search">
            <a href="{% url 'graphs' %}" class="button">
                <input type="button" name="clear" value="Clear search">
            </a>
        </div>
    </form>

<br>
<h2>Voter distribution by year of birth</h2>
{{graph_div_birth_date|safe}} 
<br>
<h2>Voter distribution by party affiliation</h2>
{{graph_div_party_affiliation|safe}} 
<br>
<h2>Voter distribution by election</h2>
{{graph_div_elections|safe}} 

{% endblock %}