<!-- voter_analytics/records.html -->
<!-- showing all voter records -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 10/30/2025 -->
{% extends 'voter_analytics/base.html' %}
 
{% block content %}
<div class="container">
    
    <h1>Showing all Voters</h1>
    <form method="get" action="{% url 'voters' %}">
        <table>
            {{ search.as_table }}
        </table>
        <div class="submit">
            <input type="submit" value="Search">
            <a href="{% url 'voters' %}" class="button">
                <input type="button" name="clear" value="Clear search">
            </a>
        </div>
    </form>

    <br>
    <h2>Search Results</h2>
    <br>
 
    <!-- navigation links for different pages of results -->
    <div class="pagination-container">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous page</a></span>
                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next page</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
    
	<!-- table of results -->
    <div class="table">
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Party affiliation</th> 
                <th>Voter score</th>
            </tr>
    
            {% for r in records %}
            <tr>
                
                <td><a href="{% url 'voter' r.pk %}">{{r.first_name}} {{r.last_name}}</a></td>
                <td>{{r.residential_address}}</td>
                <td>{{r.date_of_birth}}</td>
                <td>{{r.party_affiliation}}</td>  
                <td>{{r.voter_score}}</td>
             
            </tr>
            {% endfor %}
        </table>
    </div>
 
 
</div>    
{% endblock %}