<!-- hw/templates/hw/about.html -->

{% extends 'hw/base.html' %}

    {% block content %}
    <body>
        <h1>
            About this page
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi, similique atque natus tempora nisi cumque aliquid debitis expedita! Facilis ratione exercitationem maiores qui ex officia totam aperiam voluptatem iure?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque distinctio debitis esse incidunt in explicabo optio iste ipsa vitae doloremque quia commodi nulla doloribus, quibusdam necessitatibus atque laboriosam dolorem possimus.
        </p>
    </body>

    {% endblock %}