<!-- attendance/handle_appeals.html -->
<!-- website to handle all appeals submitted -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 12/8/2025 -->

{% extends 'attendance/base.html' %}
<h1>Attendance Report: CS 412</h1>
 
{% block content %}
<main>
    
    <h1>Appeals</h1>
 
    <div class="class-list">
        {% for appeal in appeals %}
            <div class="class-card appeal-card">
    
                <div class="appeal-info">
                    <h2>{{ appeal.student.first_name }} {{ appeal.student.last_name }}</h2>
                    <p class="session">
                        Appealing for {{ appeal.session.name }}  
                        on {{ appeal.session.session_time }}
                    </p>
                    <p class="reason"><strong>Reason:</strong> {{ appeal.reason }}</p>
                </div>
    
                <div class="appeal-actions">
                    <a href="{% url 'approve' appeal.pk %}" class="approve-btn">Approve</a>
                    <a href="{% url 'reject' appeal.pk %}" class="reject-btn">Reject</a>
                </div>
    
            </div>
        {% endfor %}
    </div>
<main>        
{% endblock %}