<!-- attendance/home.html -->
<!-- website to show home page to students and instructors -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 12/2/2025 -->

{% extends "attendance/base.html" %}

{% block content %}
<main>
    <h1>Welcome back, {{profile.first_name}} {{profile.last_name}}</h1>
    {% if profile.is_instructor %}
        <a href="{% url 'create_class' %}">Create a new class</a>
        <a href="{% url 'show_all_classes' %}">Manage classes</a>
        <a href="{% url 'student_attendance' %}">View students' attendance</a>
        <a href="{% url 'handle_appeal' %}">View appeals</a>
    {% else %}
        {% if profile.class_happening %}
            <p>You have a class going on</p>
            <p>{{profile.get_class_happening.name}}</p>
            <a href="{% url 'signin' profile.get_class_happening.pk %}">Sign in to your class</a>
        {% else %}
            <p>No class yet</p>
        {% endif %}
        <a href="{% url 'attendance' %}">View your attendance history</a>
    {% endif %}
</main>
{% endblock %}