<!-- attendance/login.html -->
<!-- website for users to login -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 12/8/2025 -->

{% extends "attendance/base.html" %}

{% block content %}

<main>
    <h1>Login to your profile</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="login">
            <input type="submit" value="Login">
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% else %}
            <input type="hidden" name="next" value="{% url 'my_profile' %}">
            {% endif %}
        </div>
    </form>

    <br>
    <br>
    <hr>
    <br>
    <br>
    <p>Haven't registered?</p>
    <div class="login">
        
        <a href="{% url 'create_profile' %}">
            <input type="button" name="cancel" value="Register Here">
        </a>
    </div>
</main>
{% endblock %}