<!-- mini_insta/show_all_classes.html -->
<!-- website to show all the classes -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 12/8/2025 -->

{% extends "attendance/base.html" %}

{% block content %}
<main>
    <h1>Manage Classes</h1>
    <div class="class-list">
        {% for class in classes %}
        <div class="class-card">
            <div class="class-info">
                <h2>{{ class.name }}</h2>
                <p class="session">{{ class.session_time }}</p>
            </div>

            <a class="delete-btn" href="{% url 'delete_class' pk=class.pk %}">
                Delete Class
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}