<!-- attendance/signin.html -->
<!-- website to show signin page to students -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 12/2/2025 -->

{% extends "attendance/base.html" %}

{% block content %}
<form>
    <h1>Signing in to {{class.name}}</h1>
    <p>Please answer the following question:</p>
    <p>Choose a number between 1 and 10.</p>
    <input type="text" name="answer" placeholder="Your answer" required>
    <div class="submit">
        <input type="submit" name="submit" value="Sign in">
    </div>
</form>
{% endblock %}