<!-- attendance/students_attend_classes.html -->
<!-- website to show all students' attendance summary -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 12/8/2025 -->

{% extends 'attendance/base.html' %}
<h1>Attendance Report: CS 412</h1>
 
{% block content %}
<div class="container">
    
    <h1>Attendance Report: CS 412</h1>
 
    <!-- navigation links for different pages of results -->
    <div class="pagination-container">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous page</a></span>
                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next page</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
    
	<!-- table of results -->
    <div class="table">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Lecture Participacion</th>
                <th>Discussion Participacion</th>
                <th>Total Participation</th> 
            </tr>
    
            {% for r in records %}
            <tr>
                
                <td>{{r.first_name}} {{r.last_name}}</td>
                <td>{{r.get_lecture_participation}}</td>
                <td>{{r.get_discussion_participation}}</td>
                <td>{{r.get_total_participation}}</td>
             
            </tr>
            {% endfor %}
        </table>
    </div>
 
 
</div>    
{% endblock %}