<!-- mini_insta/create_post_form.html -->
<!-- website to create a new post -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 10/16/2025 -->

{% extends "mini_insta/base.html" %}

{% block content %}
<main>
    <h1>Create a new post</h1>
    <form action="{% url 'create_post' profile.pk %}" method="post"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div id="post-field">
            {{ form.as_p }}
            <div class="file-upload-container">
                <label for="image_files">Upload your desired photo(s) for the post:</label>
                <input type="file" name="image_files" id="image_files" multiple accept="image/*">
            </div>
        </div>

        <div class="submit">
            <input type="submit" name="submit" value="Submit">
            <a href="{% url 'show_profile' profile.pk %}">
                <input type="button" name="cancel" value="Cancel">
            </a>
        </div>
    </form>
</main>
{% endblock %}