<!-- mini_insta/show_profile.html -->
<!-- website to show one of the profiles -->

{% extends "mini_insta/base.html" %}

{% block content %}
<main>
    <div id="grid-container-detail">
        <img src={{profile.profile_image_url}} alt="profile_image">
        <div id="text">
            <h2>{{ profile.username }}</h2>
            <h3>{{ profile.display_name }}</h3>
            <p>
                {{profile.get_post_num}} <b>Posts</b> &nbsp;&nbsp;
                TBD <b>Followers</b> &nbsp;&nbsp;
                TBD <b>Following</b>
            </p>
            <br>
            <p>{{ profile.bio_text|linebreaks }}</p>
            <br>
            <p>Joined on {{ profile.join_date }}</p>
            <div class="submit">
                <a href="{% url 'update_profile' profile.pk %}">
                    <input type="button" name="update" value="Update profile">
                </a>
            </div>
        </div>
    </div>
    <div id="post">
        <h2>Posts</h2>
        <br>
        <div id="post_image">
            {% for post in profile.get_all_posts %}
                {% if post.get_all_photos %}
                <a href="{% url 'show_post' post.pk %}">
                    <img src="{{ post.get_all_photos.0.get_image_url }}" alt="post image">
                </a>
                {% else %}
                    <a href="{% url 'show_post' post.pk %}">
                        <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/original/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="empty image">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}