<!-- mini_insta/show_all_profiles.html -->
<!-- website to show all the profiles -->
<!-- Author: Yihang Duanmu (harrydm@bu.edu), 10/16/2025 -->

{% extends "mini_insta/base.html" %}

{% block content %}
<main>
    <h1>Showing all Profiles</h1>
    {% for profile in profiles %}
    <div id="grid-container">
        <div id="text">
            <h2>{{profile.username}}</h2>
            <h3>{{profile.display_name}}</h3>
        </div>
        <div id="image">
            {% if profile.user == request.user %}
                <a href="{% url 'show_logged_in_profile' %}">
                    <img src={{profile.profile_image_url}} alt="profile_image">
                </a>
            {% else %}
                <a href="{% url 'show_profile' profile.pk %}">
                <img src={{profile.profile_image_url}} alt="profile_image">
                </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}